{{#if specialRules}}
<div class="card" style="margin-top: .8rem">
    <div class="card-header"><b>Special Rules</b></div>
    <div class="card-body">
        <dl class="row special-rules-table">
            {{#jeweils specialRules}}
            <dt class="col-lg-2 special-rules-row">{{title}}</dt>
            <dd class="col-lg-10 special-rules-row">
                {{#jeweils description}}
                <p class="card-text">{{{this}}}</p>
                {{/jeweils}}
            </dd>
            {{/jeweils}}
        </dl>
    </div>
</div>
{{/if}}