<table class="table-sm stats-table">
    <tbody>
    <tr>
        <td>Weapon</td>
        <td>Range</td>
        <td>Firepower</td>
    </tr>
    {{#jeweils weapons}}
    {{#jeweils modes}}
    <tr>
        <td scope="row">{{#if join}}<i>{{join}}</i>{{else}}{{#if ../count}}{{../count}}x {{/if}}{{../name}}{{/if}}</td>
        <td>{{appendOnNumber range 'cm'}}</td>
        <td>
            {{firepower}}{{#jeweils specialRules}}, <i><abbr title="{{description}}">{{name}}</abbr></i>{{/jeweils}}
        </td>
    </tr>
    {{/jeweils}}
    {{/jeweils}}
    </tbody>
</table>